.flex-container{
  display: flex;
  height: 76vh;
  background-color: #82CD47;
}
.menu {
  width: 20%;
  margin-left: 7em;
  background-color: #F0FF42;
}
.top {
  height: 7em;
  background-color: #82CD47;
}
.right {
  background-color: #379237;
  width: 80%;
  margin-right: 7em;
}

.bottom {
  height: 7em;
  background-color: #82CD47;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
